extends layout

block content
    div.container.index
        div.page-header
            h1 #{title}
        p.alert.alert-danger.ng-hide(ng-show="errors.length > 0" ng-repeat="error in errors  track by $index") {{error}}
        div.panel.panel-default(ng-hide="percent > 0")
            div.panel-heading
                h2.panel-title Crawler
            div.panel-body
                form(start-crawler="")
                    div.form-group
                        input.form-control.sitemapUrl(type="text", placeholder="Sitemap XML url")
                    p Or
                    div.form-group                        
                        input.form-control.mysqlHost(type="text", placeholder="Mysql host")
                        input.form-control.mysqlUser(type="text", placeholder="Mysql user")
                        input.form-control.mysqlDatabase(type="text", placeholder="Mysql databse")
                        input.form-control.mysqlPassword(type="text", placeholder="Mysql password")
                    div.form-group    
                        input.form-control.offset(type="text", placeholder="Offset")

                    button.btn.btn-primary.btn-block(href="#", ng-hide="hideStart == 1", ng-click="hideStart=1") Start
        p.text-center
            span.label.label-info.ng-hide(ng-show="percent > 0") {{ percent }}%
            span.label.label-success.ng-hide(ng-show="percent > 0") executed: {{ executedCount }} 
            span.label.label-danger.ng-hide(ng-show="percent > 0") errored: {{ errorCount }} 
            span.label.label-warning.ng-hide(ng-show="percent > 0") remaining: {{ remainingCount }} 
            span.label.label-default.ng-hide(ng-show="percent > 0") running since: {{ currentRunningSeconds }}s
        
        div.progress.ng-hide(ng-show="percent > 0")
            div.progress-bar.progress-bar-striped.progress-bar-success.active(role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%")
        div.panel.panel-default.ng-hide(ng-show="percent > 0")
            div.panel-heading
                h2.panel-title Logs
            div.panel-body.pre-scrollable
                div(ng-repeat="log in logs  track by $index")
                    a(ng-class="{'text-danger': log.type === 'error', 'text-success': log.type === 'success'}", href="{{ log.message }}", target="_blank") {{ log.message }}      